<div id="contact" class="gray-background padding-top">

	<div class="container animated zoomIn">

		<header class="header-contact text-center">
			<h1>contactanos</h1>
			<p class="header-text">Deseas saber presupuestos o realizar ciertos proyectos, escribenos:</p>
		</header>

			<div class="row padding-bottom">

				<div class="col-xs-12 col-sm12 col-md-4">
					<address>
						<strong class="industry-name">diasan c.a.</strong>
						<br>
								Calle Moran entre Artigas y Democracia
						<br>
								Punto Fijo, Estado Falcón - Venezuela
						<br>
								(0269) 246-6035
						<br>
								Electrificacionesdiasan@gmail.com
					</address>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-8">
					<div id="formEmail">
						<%= render "send/formEmail"%>
					</div>

				</div>
			</div>
			
	</div>
</div>