<div class="socials text-center wow zoomIn" data-wow-duration="3s" data-wow-offset="20">
	<p1>
		© DIASAN C.A 2016.
	</p1>
	<p2>
		<br>
		Web-Development: Ing. Alirio Diaz.
	</p2>

	<ul class="social-footer">
		<li>
			<a target="_blank" class="twitter" href="https://twitter.com/altairtechca">
				<i class="fa fa-twitter"></i>
			</a>
		</li>

		<li>
			<a target="_blank" class="google-plus" href="https://plus.google.com/114548716232001989386/posts">
				<i class="fa fa-google-plus"></i>
			</a>
		</li>

		<li>
			<a target="_blank" class="github" href="https://github.com/aliaz0990">
				<i class="fa fa-github-alt"></i>
			</a>
		</li>

	</ul>

</div>