<div id="action-list">

		<div class="action-item">

			<div class="container-fluid flex-text text-center">
				<h2>Herrajes</h2>
			</div>
			<div class="container-fluid flex-img center-block">
				<%= image_tag "ciudad1.jpg", class: "img-responsive img-thumbnail" %>
				<p>Todos los accesorios necesarios para la realizacion de proyectos: Crucetas, Pletinas, entre otros.</p>
			</div>
			
		</div>

		<div class="action-item">
			<div class="container-fluid flex-text text-center">
				<h2>Conexiones</h2>
			</div>
			<div class="container-fluid flex-img center-block">
				<%= image_tag "ciudad1.jpg", class: "img-responsive img-thumbnail" %>
				<p>Poseemos todas las conexiones para los diferentes proyectos, entre ellos: Cableado, Conectores, entre otros.</p>
			</div>
		</div>

		<div class="action-item">
			<div class="container-fluid flex-text text-center">
				<h2>Equipos</h2>
			</div>
			<div class="container-fluid flex-img center-block">
				<%= image_tag "ciudad1.jpg", class: "img-responsive img-thumbnail" %>
				<p>Equipos de alta envergadura con garantias a nivel nacional y los mejores equipos del mercado y con la mejor asesoria</p>
			</div>
		</div>

</div>