<div class="container padding-top-bottom">

	<div class="row header text-center">
		<div class="col-md-12">
			<h2>productos</h2>
			<p>Estamos para Apoyarte en tus Proyectos</p>
		</div>
	</div>

	<div class="container fonts">
		<div class="row">
			<div class="col-md4 col-sm-4 col-xs-12">
				<article class="text-center">
					<%=image_tag("cables.jpg", class: "img-zoom img-responsive center-block")%>
					<h3>Herrajes y Accesorios</h3>
					<p>Todo en material para la puesta en marcha en proyectos</p>
				</article>
			</div>

			<div class="col-md4 col-sm-4 col-xs-12">
				<article class="text-center">
					<%=image_tag("cables.jpg", class: "img-zoom img-responsive center-block")%>
					<h3>Herrajes y Accesorios</h3>
					<p>Todo en material para la puesta en marcha en proyectos</p>
				</article>
			</div>

			<div class="col-md4 col-sm-4 col-xs-12">
				<article class="text-center">
					<%=image_tag("cables.jpg", class: "img-zoom img-responsive center-block")%>
					<h3>Herrajes y Accesorios</h3>
					<p>Todo en material para la puesta en marcha en proyectos</p>
				</article>
			</div>

		</div>
	</div>
</div>

<div class="container-fluid bg-dark">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h2>DIASAN F.P.</h2>
			<p>Empresa Lider en Servicios y Productos Eléctricos</p>
		</div>
	</div>
</div>