<div id="main-service">

  <div class="container">

    <div id="services-tittle">  
      <div class="container-fluid text-center fadeInDown animated">
        <h1>Servicios</h1>
      </div>
    </div>


      <div class="container-fluid services-description center-block">

        <div class="industrial-description center-block animated rotateIn">
          <div class="row">
            <div class="col-sm-4 col-md-4 img-industrial">
              <%= image_tag("torres2.jpg", :class => "img-responsive img-rounded")%>
            </div>
            <div class="col-sm-8 col-md-8 fonts-description">
              <div class="page-header">
                <h2>Industriales</h2>
              </div>
              <p>Esto es un parrafo descriptivo de lo industrial</p>
            </div>
          </div>
        </div>


        <div class="business-description center-block animated rotateIn">
          <div class="row">
            <div class="col-sm-4 img-business">
              <%= image_tag("comercial-mall.jpg", :class => "img-responsive img-rounded")%>
            </div>
            <div class="col-sm-8 fonts-description ">
              <div class="page-header">
                <h2>Comercial</h2>
              </div>
              <p>Esto es un parrafo descriptivo de lo Comercial</p>
            </div>
          </div>
        </div>


        <div class="domiciliary-description center-block animated rotateIn">
          <div class="row">
            <div class="col-sm-4 img-domiciliary">
              <%= image_tag("domiciliaria.jpg", :class => "img-responsive img-rounded")%>
            </div>
            <div class="col-sm-8 fonts-description ">
              <div class="page-header">
                <h2>Domiciliario</h2>
              </div>
              <p>Esto es un parrafo descriptivo de lo Domiciliario</p>
            </div>
          </div>
        </div>

      </div>

  </div>

</div>