<div id="us">

	<div class="container-fluid conten-sm animated fadeInLeftBig">

		<div class="row">

			<div class="col-md-6 description">

				<i class="fa fa-cog fa-spin fa-4x fa-inverse"></i>
				<h3>Misión</h3>
				<p>Breve descripcion referente a los objetivos en consecuencia de la mision empresarial</p>
			</div>

			<div class="col-md-6 description">

				<i class="fa fa-refresh fa-spin fa-4x fa-inverse"></i>
				<h3>Visión</h3>
				<p>Breve descripcion referente a los objetivos en consecuencia de la vision empresarial</p>

			</div>

		</div>

	</div>

	<div class="container qualities animated fadeInRightBig">

		<div class="row">
			
			<div class="col-md-4 qualities-description">

				<i class="fa fa-trophy fa-4x"></i>
				<h3>Calidad Garantizada</h3>

			</div>

			<div class="col-md-4 qualities-description">

				<i class="fa fa-certificate fa-4x"></i>
				<h3>Responsabilidad y Confiabilidad</h3>

			</div>

			<div class="col-md-4 qualities-description">

				<i class="fa fa-bolt fa-4x"></i>
				<h3>Eficiencia</h3>

			</div>

		</div>

	</div>

</div>