<div id="us-main" class="wow fadeIn" data-wow-duration="3s" data-wow-offset="20">

	<div class="conten-sm">
		<div class="container">

			<div class="row">

				<div class="col-sm-6 description">
					<div class="box">
						<div class="box-icon">
							<i class="fa fa-cog fa-spin fa-4x fa-inverse"></i>
						</div>
						<div class="description-box">
							<h3>mision</h3>
							<p>Prestar servicios y satisfacer las necesidades de nuestros clientes, en venta e instalación de materiales eléctricos de buena calidad en baja y alta tensión, industrial, comercial y domiciliario</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6 description">
					<div class="box">
						<div class="box-icon">
							<i class="fa fa-refresh fa-spin fa-4x fa-inverse"></i>
						</div>
						<div class="description-box">
							<h3>vision</h3>
							<p>Posicionarnos como la primera empresa y ser reconocida a nivel nacional en venta e instalación en redes eléctricas en alta y baja tensión. Con la innovación y calidad como características principales de nuestros productos y servicios, realizando una gestión ética y responsable, y a su vez manteniendo un firme compromiso con el desarrollo sostenible de nuestros clientes</p>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div class="container-fluid qualities">

		<div class="row">
			
			<div class="col-md-4 qualities-description">

				<i class="fa fa-trophy fa-4x"></i>
				<h3>Calidad Garantizada</h3>

			</div>

			<div class="col-md-4 qualities-description">

				<i class="fa fa-certificate fa-4x"></i>
				<h3>Responsabilidad y Confiabilidad</h3>

			</div>

			<div class="col-md-4 qualities-description">

				<i class="fa fa-bolt fa-4x"></i>
				<h3>Eficiencia</h3>

			</div>

		</div>

	</div>

</div>