<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<style>

		h1{
			font-size: 24px;
			text-transform: uppercase;
			font-weight: bold;
		}

		p{
			font-size: 18px;
		}

		</style>

	</head>

	<body>

		<div>
			<h1>Asunto:</h1>
			<p> <%= @params[:advise] %></p>
		</div>

		<div>
			<h1>Mensaje:</h1>
			<p> <%= @params[:message] %></p>
		</div>

		<div>
			<h1>Nombre:</h1>
			<p> <%= @params[:name] %></p>
		</div>

		<div>
			<h1>Email:</h1>
			<p> <%= @params[:email] %></p>
		</div>

	</body>

</html>