// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Vast+Shadow);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

//----------------------NAVIGATION-------------------------

.navbar>.container-fluid{
    margin-right: 5%;
    margin-left: 5%;
}

.navbar-brand{
    margin-top: -12px;
    vertical-align: middle;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus{
    color: #049DBF;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-nav{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus{
    color: #049DBF;
}

.navbar-fixed{
    border-top: 50px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
//--------------------END navigation--------------

//--------------------Home------------------------
.flex-container-welcome{

    width: 100%;
    height: 100vh;
    z-index: 11;

    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
}

.welcome-text{
    color: white;

    h2{
        font-family: Vast Shadow;
        text-shadow: -3px 0 #049DBF, 0 3px #049DBF, 0 3px #049DBF, 0 -3px #049DBF;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
    }

    h1{
        font-family: Vast Shadow;
        text-shadow: -3px 0 #049DBF, 0 3px #049DBF, 0 3px #049DBF, 0 -3px #049DBF;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 72px;
        text-align: center;


    }
        
    h3{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        font-size: 18px;
        text-align: right;
    }
}

.social-links li{
    display: inline-block;
    padding-right: 40px;
}

.social-links li a{
    color: black;
    background-color: white;//rgba(0,0,0,0.9);
    border-radius: 10px;
    height: 50px;
    width: 50px;
    line-height: 36px;
    display: block;
    font-size: 16px;
    opacity: 1;
}
.social-links .fa-facebook-square:hover,
.social-links .fa-facebook-square:focus{
    color: #3a5795;
}
.social-links .fa-twitter-square:hover,
.social-links .fa-twitter-square:focus{
    color: #55acee;
}
.social-links .fa-instagram:hover,
.social-links .fa-instagram:focus{
    color: #ac9a81;
}

.light-typo{
    color: #fff;
}

.overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-color: #000;
    z-index: 10;
}

#myCarousel{
    position: relative;
    overflow: hidden;
	width: 100%;
	height: 100vh;
    background-color: black;

	.carousel-inner img{
		height: 100vh;
		width: 100vw;
	}
    .carousel-indicators .active{
        background-color: #049DBF;
    }
    .carousel-indicators li{
        background-color: white;
    }
}
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 1;
    }
}
//----------------------END Home--------------------

//----------------------Products--------------------
.header h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
}

.header p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    margin-bottom: 60px;
}

.img-zoom{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    z-index: 1;
    -webkit-transition: all .15s ease-out 0s;
    -moz-transition: all .15s ease-out 0s;
    -ms-transition: all .15s ease-out 0s;
    -o-transition: all .15s ease-out 0s;
    transition: all .15s cubic-bezier(0, 0, 0.04, 1.2) 0s;
    box-shadow: 0 4px 9px 0 rgba(0,0,0,.4);
    margin-bottom: 25px; 
    border: 6px solid #049DBF;
}

.img-zoom:hover{
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform: scale(1.5);
}

.fonts article h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    margin: 12px 0 13px;
}
.fonts article p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    color: #8A8A8A;
    margin-bottom: 15px;
}
.padding-top-bottom{
    padding-top: 10px;
    padding-bottom: 20px;
}

.img-banner{
    background-image: url(electricidad1.jpg);
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 15px;
}

.fonts{

    h2{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 35px;
        color: white;
    }

    p{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 21px;
        color: white;
    }
}
//----------------------END Products----------------

//----------------------Services--------------------
#main-service{
    background-color: #434a50;
}

#services-tittle{
    padding: 10px 0 15px;

    .container-fluid>h1{

        font-family: 'Josefin Sans', sans-serif;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 35px;
    }
}
.service-bottom{
    padding-bottom: 15px;
}
.vista {
    margin: 0 auto;
    width: 350px;
    height: 250px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.vista .mascara{
    width: 350px;
    height: 234px;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
}
.vista h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 15px;
    background: #049dbf;
    margin: 80px 0 0 0;
}
.vista img {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.vista .mascara {
    opacity: 0;
    background-color: hsla(0,0%,0%,0.6);
    -webkit-transition: all 0.2s 0.4s ease-in-out;
    -moz-transition: all 0.2s 0.4s ease-in-out;
    -o-transition: all 0.2s 0.4s ease-in-out;
    -ms-transition: all 0.2s 0.4s ease-in-out;
    transition: all 0.2s 0.4s ease-in-out;
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    -moz-transform: translate(460px, -100px) rotate(180deg);
    -o-transform: translate(460px, -100px) rotate(180deg);
    -ms-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
}
.vista h2 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.vista:hover .mascara { 
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}
.vista:hover h2 { 
    -webkit-transform: translateY(0px); 
    -moz-transform: translateY(0px); 
    -o-transform: translateY(0px); 
    -ms-transform: translateY(0px); 
    transform: translateY(0px); 
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

#multimedia-text{
    background-color: #000000;

    .container-fluid>h3{
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 28px;
    }
}

#multimedia-view{
    padding-top: 15px;
    background-color: #000000;
}

#owl-demo{
    opacity: 1;
    display: block;
    padding-bottom: 10px;

    .item{
        width: 360px;
        height: 180px;
        max-width: 90%;
        margin: 0 10px 0 10px;
    }
}
//--------------------END Services------------------

//--------------------Us----------------------------
.conten-sm{
    padding-top: 55px;
    padding-bottom: 30px;
    background: #049DBF;
}
.box{
    clear: both;
}
.box-icon{
    background: transparent;
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    top: 5px;
}

.conten-sm .box .description-box{
    margin-left: 30px;
}
.conten-sm .box .description-box h3{
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
.conten-sm .box .description-box p{
    color: #eee;;
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 20px;

}

.description{
    padding-right: 40px;
}

.description-box{
    padding-left: 65px;

    h3{
        padding-top: 25px;
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
    }

    p{
        color: white;
        text-align: justify;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
    }
}

.qualities{
    background-image: url(banners-qualities1.png);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 90px;
}

.qualities-description {
    text-align: center;

    h3{
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
    }

    i{
        color: white;
    }
}
//------------------END Us--------------------------

//-----------------Contact--------------------------
    header>h1{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 35px;
    }

    .header-text{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 25px;
    }

    .industry-name{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 20px;
    }

    address{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 18px;
    }

    .gray-background{
        background-color: #f2f2f2;
    }

    .padding-top{
        padding-top: 45px;
    }

    .padding-bottom{
        padding-bottom: 80px;
    }
    .header-contact{
        margin-bottom: 50px;
    }

    .btn-info{
        font-family: 'Josefin Sans', sans-serif;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 12px 23px;
        display: inline-block;
        margin: 0 10px 10px 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
        outline: none;
        position: relative;
        color: #fff;
        border-radius: 5px;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }

    .btn-block{
        display: block;
        width: 100%;
    }
//---------------END Contact------------------------

//---------------Main-Footer------------------------
footer{
    background-color: #022859;
    color: white;
}
.socials{
    p1{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
    }

    p2{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }
}
.socials{
    padding: 10px 20px 5px 20px;
    text-align: center;
}

.socials ul{
    padding: 0;
}

.social-footer li{
    text-align: center;
    display: inline-block;
    margin-right: 8px;
}

.social-footer li a{
    color: white;
    background-color: rgba(0,0,0,0.4);
    border-radius: 3px;
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: block;
    font-size: 16px;
    opacity: 0.8;
}

.social-footer .twitter:hover,
.social-footer .twitter:focus,{
    background-color: #55acee;
}

.social-footer .google-plus:hover,
.social-footer .google-plus:focus,{
    background-color: #ea4335;
}

.social-footer .github:hover,
.social-footer .github:focus,{
    background-color: #6b808d;
}
//-------------END Main-Footer----------------------